@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@100..700&display=swap');

html {
    scroll-behavior: smooth;
    cursor: default;
    user-select: none;
    font-size: 100%;
}

body {
    padding: 0;
    margin: 0;
    /* background-color: #efefef; */
    font-family: 'Montserrat', sans-serif;
    color: black;
    /* scroll-behavior: smooth; */
    background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 400% 400%;
    animation: bganimation 15s infinite;
}

@keyframes bganimation {
    0%{
      background-position: 0% 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0% 50%;
    }
  }
  

/*-----------------------------------------------------*/
/*---------------------H E A D E R---------------------*/
/*-----------------------------------------------------*/

.logonav{
    font-weight: 200;
    justify-content: space-evenly;
    height: 50px;
    width: 30px;
    flex-grow: 1;
    overflow: hidden;
    margin-left: 0;
    margin-left: 3vh;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #ff7948;
    height: 90vh;
    width: 20vw;
    margin-left: 10vw;
    position: fixed;
    border-radius: 25px;
}

section {
    border-radius: 25px;
    /* background-color: #fefcfb; */
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 80vh;
    height: auto;
    width: 45vw;
    margin-left: 35vw;
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

header img {
    margin: 7.5%;
    width: 40%;
    border-radius: 100%;
}

header h1{
    margin: 0;
    margin-left: 7.5%;
    overflow: hidden;
    font-size: 48px;
    font-size: 2.5rem;
}

/* @media screen and (max-width: 64em) {
header h1 {
    font-size: 1.5em;
    }
}

@media screen and (max-width: 50em) {
header h1 {
    font-size: 2em;
    }
}

@media screen and (max-width: 30em){
header h1 {
    font-size: 2.5em;
    }
} */

header h2{
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    margin-left: 7.5%;
    overflow: hidden;
}

.nav-page{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.nav-page a{
    margin-left: 7.5%;
    margin-bottom: 7%;
    font-weight: 600;
    transition-duration: 250ms;
}

.nav-page a:hover{
    color: #FFC857;
}

.nav-page i {
    margin-right: 5%;
    font-weight: 600;
}


header p {
    margin: 0;
    margin-bottom: 0%;
    font-size: 0.5em;
}

scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}


/*-----------------------------------------------------*/
/*--------------------A C C U E I L--------------------*/
/*-----------------------------------------------------*/

#accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5vw;
    max-height: 80vh;
}

#accueil h1 {
    font-size: 3em;
    margin: 0;
}

#accueil h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.button{
    background-color: #ff7948;
    font-size: 1.1em;
    width: 30%;
    text-align: center;
    padding: 7px;
    border-radius: 20px;
    color: #ecf0f1;
    font-weight: bold;
    transition-duration: 250ms;
}

.button:hover{
    background-color: #ecf0f1;
    color: #343353;
}

/*------------------------------------------------------*/
/*--------------------A N I M  T E X T------------------*/
/*------------------------------------------------------*/

.home-anim {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 5px;
    overflow: hidden;
}

/*E T U D I A N T*/

.home-anim span:nth-child(1){
    color: black;
    animation: animText 0.8s ease-in-out infinite;
}

.home-anim span:nth-child(2){
    color: black;
    animation: animText 1.2s ease-in-out infinite;
}

.home-anim span:nth-child(3){
    color: black;
    animation: animText 1.6s ease-in-out infinite;
}

.home-anim span:nth-child(4){
    color: black;
    animation: animText 1.8s ease-in-out infinite;
}

/*I N G E N I E U R*/

.home-anim span:nth-child(5){
    color: black;
    animation: animText 0.8s ease-in-out infinite;
}

.home-anim span:nth-child(6){
    color: black;
    animation: animText 1.2s ease-in-out infinite;
}

.home-anim span:nth-child(7){
    color: black;
    animation: animText 1.6s ease-in-out infinite;
}

.home-anim span:nth-child(8){
    color: black;
    animation: animText 2.2s ease-in-out infinite;
}

.home-anim span:nth-child(9){
    color: black;
    animation: animText 2.4s ease-in-out infinite;
}

.home-anim span:nth-child(10){
    color: black;
    animation: animText 2.6s ease-in-out infinite;
}

/* ! */

.home-anim span:nth-child(11){
    color: black;
    animation: animMark 1s ease-in-out infinite;
}

@keyframes animText {
    0%{
        font-weight: 200;
    }
    50%{
        font-weight: 900;
    }
    100%{
        font-weight: 200;
    }
}

@keyframes animMark{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}

/*------------------------------------------------------*/
/*--------------------A  P R O P O S--------------------*/
/*------------------------------------------------------*/

.info {
    display: flex;
    flex-direction: row;
}

.boite {
    min-height: 100px;
    width: 308.750px;
    flex-grow: 1;
    margin: 2%;
    padding: 2%;
    overflow: hidden;
}

.boite {
    position : relative;
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 4%;
    justify-content: center;
    align-items: center;
    /* background: #fefcfb; */
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    
}


.boite::before{
content:'';
position: absolute;
width: 150px;
height: 170%;
background: linear-gradient(#ff6d00,#9d4edd);
animation: animate 4s linear infinite;
}

.boite::after
{
content:'';
position: absolute;
inset: 4px;
background: #14213d;
border-radius: 16px;
}



@keyframes animate {
0%
{
    transform: rotate(0deg);
}
100%
{
    transform: rotate(360deg);
}
}

.boite h2 {
position: relative;
color: #fff;
font-size: 10em;
z-index: 10;
}

.boite h1 {
position: relative;
color: #fff;
z-index: 10;
}

.boite h4 {
    position: relative;
    color: #fff;
    z-index: 10;
    display: flex;
    padding: 0;
    margin-top: 2vh;
}

.boite p {
    position: relative;
    color: #fff;
    z-index: 10;
    display: flex;
    padding: 0;
    margin-top: 2vh;
    margin-left: 1vh;
}

.box-propos {
    display: flex;
    margin: auto;
    height: 50%;
    flex-direction: row;
}

.box-presentation{
    display: block;
    width: 50%;
    background-color: #fefcfb;
}

.box-info{
    display: block;
    width: 50%;
    margin-left: 2vw;
    background-color: #fefcfb;
    
}

.section-header-title {
    padding-left: 20vw;
    margin: 0;
}

.section-header-canvas {
    margin: 0;
    width: 2vw;
    height: 0.3vh;
    background-color: #FFC857;
}

/* Schéma parcours */
.section-schema-canvas {
    margin: 0;
    width: 0.2vw;
    height: 30vh;
    background-color: #FFC857;
}

#propos h2{
    font-size: 2em; 
    overflow: hidden;
}

#propos h3{
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 400;
    overflow: hidden;
}

/*-----------------------------------------------------*/
/*--------------------P A R C O U R S------------------*/
/*-----------------------------------------------------*/

#parcours img{
    margin-top: 2vh;
    margin-left: 2vh;
    width: 80%;
    padding-bottom: 20%;
}

.graph-parcours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bobox-experience{
    margin-top: 5%;
    background-color: #ff7948;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bobox-experience-2{
    margin-top: 5%;
    background-color: #ff7948;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.experience-text{
    margin: 2%;
    
}

.canvas-parcours{
    margin: 0;
    width: 0.3vw;
    height: 17vh;
    background-color: white;
    margin-left: 2vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

/* (A) TIMELINE CONTAINER */
.vtl {
    /* (A1) RELATIVE POSITION REQUIRED TO PROPERLY POSITION THE TIMELINE */
    position: relative;
   
    /* (A2) RESERVE MORE SPACE TO THE LEFT FOR THE TIMELINE */
    padding: 10px 10px 10px 50px;
   
    /* (A3) OPTIONAL WIDTH RESTRICTION */
    max-width: 400px;

    margin-top : 10%;
    
  }
  .vtl, .vtl * { box-sizing: border-box; }
  
  /* (B) DRAW VERTICAL LINE USING ::BEFORE */
  .vtl::before {
    /* (B1) VERTICAL LINE */
    content: "";
    width: 5px;
    background-color: #ff7948;
   
    /* (B2) POSITION TO THE LEFT */
    position: absolute;
    top: 0; bottom: 0; left: 15px;
  }
  
  /* (C) COSMETICS FOR EVENTS */
  div.event {
    padding: 20px 30px;
    background-color: #ffebeb;
    position: relative;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  /* (D) COSMETICS FOR EVENT DATE & TEXT */
  p.date {
    font-size: 1.1em;
    font-weight: 700;
    color: #ff7948;
  }
  p.txt {
    margin: 10px 0 0 0;
    color: #222;
  }
  
  /* (E) EVENT "SPEECH BUBBLE CALLOUT" */
  div.event::before {
    /* (E1) "MAGIC TRIANGLE" */
    content: "";
    border: 10px solid transparent;
    border-right-color: #ffebeb;
    border-left: 0;
   
     /* (E2) POSITION TO THE LEFT */
    position: absolute;
    top: 20%; left: -10px;
  }
  
  /* (F) CIRCLE ON TIMELINE */
  div.event::after {
    /* (F1) "MAGIC CIRCLE" */
    content: "";
    background: #fff;
    border: 4px solid #ff7948;
    width: 16px; height: 16px;
    border-radius: 50%;
   
    /* (F2) POSITION TO THE LEFT */
    position: absolute;
    top: 20%; left: -44px;
  }

/*-----------------------------------------------------*/
/*--------------------P R O J E T ---------------------*/
/*-----------------------------------------------------*/

.boxanim {
    position : relative;
    height: 350px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 4%;
    justify-content: center;
    align-items: center;
    /* background: #fefcfb; */
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
  }


  .boxanim::before{
    content:'';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#ff6d00,#9d4edd);
    animation: animate 4s linear infinite;
  }
  
  .boxanim::after
  {
    content:'';
    position: absolute;
    inset: 4px;
    background: #efefef;
    border-radius: 16px;
  }

  
  
  @keyframes animate {
    0%
    {
      transform: rotate(0deg);
    }
    100%
    {
      transform: rotate(360deg);
    }
  }
  
  .boxanim h2 {
    position: relative;
    color: #222;
    font-size: 10em;
    z-index: 10;
  }
  
  .boxanim h1 {
    position: relative;
    color: #222;
    z-index: 10;
  }
  
  .boxanim p {
    position: relative;
    color: #222;
    z-index: 10;
  }
  
  wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .flex-container{
    display: flex;
    background-color: None;
    flex-wrap: wrap;
    margin-top: 7%;
  }
  
  
  .button1{
    background-color: #ecf0f1;
    text-decoration: none;
    border-radius: 20px;
    border-style: none;
    min-height: 5%;
    max-height: 7%;
    min-width: 15vh;
    max-width: 20vh;
    color: #353535;
    font-weight: 600;
  }
  
  .button1:hover{
    color: white;
    background-color: #523c8f;
  }
  
  .image-ine{
    width: 40%;
    border-radius: 100%;
    position: relative;
    z-index: 10;
  }


/*-----------------------------------------------------*/
/*--------------------C O N T A C T--------------------*/
/*-----------------------------------------------------*/

.boitecontact {
    position : relative;
    max-height: 350px;
    max-width: 400;
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 4%;
    justify-content: center;
    align-items: center;
    /* background: #fefcfb; */
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    /* margin-top: 5vh; */
    /* margin-left: 20vh; */
}


.boitecontact::before{
content:'';
position: absolute;
width: 150px;
height: 160%;
background: linear-gradient(#ff6d00,#9d4edd);
animation: animate 4s linear infinite;
}

.boitecontact::after
{
content:'';
position: absolute;
inset: 4px;
background: #efefef;
border-radius: 16px;
}



@keyframes animate {
0%
{
    transform: rotate(0deg);
}
100%
{
    transform: rotate(360deg);
}
}

.boitecontact h2 {
position: relative;
color: #222;
font-size: 10em;
z-index: 10;
}

.boitecontact h1 {
position: relative;
color: #222;
z-index: 10;
}

.boitecontact h4 {
    position: relative;
    color: #222;
    z-index: 10;
    display: flex;
    padding: 0;
    margin-top: 2vh;
}

.boitecontact p {
    position: relative;
    color: #222;
    z-index: 10;
    display: flex;
    padding: 0;
    margin-top: 2vh;
    margin-left: 1vh;
}

.last {
    margin-bottom: 5vh;
}