@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@100..700&display=swap');

html {
    scroll-behavior: smooth;
    cursor: default;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

/*-----------------------------------------------------*/
/*---------------------H E A D E R---------------------*/
/*-----------------------------------------------------*/

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #0466C8;
    height: 90vh;
    width: 20vw;
    margin-left: 10vw;
    position: fixed;
    border-radius: 25px;
}

section {
    border-radius: 25px;
    background-color: #023E7D;
    height: 80vh;
    width: 45vw;
    margin-left: 35vw;
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

header img {
    margin: 7.5%;
    width: 40%;
    border-radius: 100%;
}

header h1{
    margin: 0;
    margin-left: 7.5%;
}

header h2{
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    margin-left: 7.5%;
}

.nav-page{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.nav-page a{
    margin-left: 7.5%;
    margin-bottom: 7%;
    font-weight: 600;
    transition-duration: 250ms;
}

.nav-page a:hover{
    color: #002855;
}

.nav-page i {
    margin-right: 5%;
    font-weight: 600;
}

.nav-social{
    font-weight: 200;
    margin: 0;
    display: flex;
    width: 75%;
    justify-content: space-evenly;
}

.nav-social a {
    margin-top: 3vh;
}

header p {
    margin-left: 7.5%;
    margin-top: 7.5%;
    font-size: 0.5em;
    
}

scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}


/*-----------------------------------------------------*/
/*--------------------A C C U E I L--------------------*/
/*-----------------------------------------------------*/

#accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5vw;
    max-height: 80vh;
}

#accueil h1 {
    font-size: 3em;
    margin: 0;
}

#accueil h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.button{
    background-color: #001233;
    text-decoration: none;
    border-radius: 25px;
    border-style: none;
    height: 7%;
    width: 20%;
    color: white;
    font-weight: 600;
}

.button:hover{
    background-color: #979DAC;
}

/*------------------------------------------------------*/
/*--------------------A N I M  T E X T------------------*/
/*------------------------------------------------------*/

.home-anim {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    color: #fff;
    font-family: "Roboto Mono", monospace;
    font-size: 100px;
    font-weight: 200;
    letter-spacing: 5px;
}


.home-anim span:nth-child(1){
    color: #4285F4;
    animation: animText 0.8s ease-in-out infinite;
}

.home-anim span:nth-child(2){
    color: #42f46e;
    animation: animText 1.2s ease-in-out infinite;
}

.home-anim span:nth-child(3){
    color: #f1f442;
    animation: animText 1.6s ease-in-out infinite;
}

.home-anim span:nth-child(4){
    color: #f44242;
    animation: animText 1.8s ease-in-out infinite;
}

.home-anim span:nth-child(5){
    color: #4285F4;
    animation: animMark 1s ease-in-out infinite;
}

@keyframes animText {
    0%{
        font-weight: 200;
    }
    50%{
        font-weight: 900;
    }
    100%{
        font-weight: 200;
    }
}

@keyframes animMark{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}

/*------------------------------------------------------*/
/*--------------------A  P R O P O S--------------------*/
/*------------------------------------------------------*/

.box-propos {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 100%;
    
    flex-direction: row;
}

.box-presentation{
    display: block;
    width: 50%;
}

.box-info{
    display: block;
    width: 50%;
    margin-left: 2vw;
    
}

.section-header-title {
    padding-left: 20vw;
    margin: 0;
}

.section-header-canvas {
    margin: 0;
    width: 2vw;
    height: 0.3vh;
    background-color: red;
}

#propos h2{
    font-size: 2em; 
}

#propos h3{
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 400;
}

