@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono:wght@100..700&display=swap');

html {
    scroll-behavior: smooth;
    cursor: default;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

/*-----------------------------------------------------*/
/*---------------------H E A D E R---------------------*/
/*-----------------------------------------------------*/

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #ff7948;
    height: 90vh;
    width: 20vw;
    margin-left: 10vw;
    position: fixed;
    border-radius: 25px;
}

section {
    border-radius: 25px;
    background-color: #ffffff;
    min-height: 80vh;
    height: auto;
    width: 45vw;
    margin-left: 35vw;
    margin-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

header img {
    margin: 7.5%;
    width: 40%;
    border-radius: 100%;
}

header h1{
    margin: 0;
    margin-left: 7.5%;
    overflow: hidden;
}

header h2{
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    margin-left: 7.5%;
    overflow: hidden;
}

.nav-page{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.nav-page a{
    margin-left: 7.5%;
    margin-bottom: 7%;
    font-weight: 600;
    transition-duration: 250ms;
}

.nav-page a:hover{
    color: #FFC857;
}

.nav-page i {
    margin-right: 5%;
    font-weight: 600;
}

.nav-social{
    font-weight: 200;
    margin: 0;
    display: flex;
    width: 75%;
    justify-content: space-evenly;
}

.nav-social a {
    margin-top: 3vh;
}

header p {
    margin-left: 7.5%;
    margin-top: 7.5%;
    font-size: 0.5em;
    
}

scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}


/*-----------------------------------------------------*/
/*--------------------A C C U E I L--------------------*/
/*-----------------------------------------------------*/

#accueil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5vw;
    max-height: 80vh;
}

#accueil h1 {
    font-size: 3em;
    margin: 0;
}

#accueil h2 {
    font-size: 1.2em;
    font-weight: 400;
}

.button{
    background-color: #FFC857;
    text-decoration: none;
    border-radius: 25px;
    border-style: none;
    height: 7%;
    width: 20%;
    color: white;
    font-weight: 600;
}

.button:hover{
    background-color: #e9b54d;
}

/*------------------------------------------------------*/
/*--------------------A N I M  T E X T------------------*/
/*------------------------------------------------------*/

.home-anim {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    z-index: 1;
    color: black;
    font-family: "Roboto Mono", monospace;
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 5px;
    overflow: hidden;
}

/*E T U D I A N T*/

.home-anim span:nth-child(1){
    color: black;
    animation: animText 0.8s ease-in-out infinite;
}

.home-anim span:nth-child(2){
    color: black;
    animation: animText 1.2s ease-in-out infinite;
}

.home-anim span:nth-child(3){
    color: black;
    animation: animText 1.6s ease-in-out infinite;
}

.home-anim span:nth-child(4){
    color: black;
    animation: animText 1.8s ease-in-out infinite;
}

/*I N G E N I E U R*/

.home-anim span:nth-child(5){
    color: black;
    animation: animText 0.8s ease-in-out infinite;
}

.home-anim span:nth-child(6){
    color: black;
    animation: animText 1.2s ease-in-out infinite;
}

.home-anim span:nth-child(7){
    color: black;
    animation: animText 1.6s ease-in-out infinite;
}

.home-anim span:nth-child(8){
    color: black;
    animation: animText 2.2s ease-in-out infinite;
}

.home-anim span:nth-child(9){
    color: black;
    animation: animText 2.4s ease-in-out infinite;
}

.home-anim span:nth-child(10){
    color: black;
    animation: animText 2.6s ease-in-out infinite;
}

/* ! */

.home-anim span:nth-child(11){
    color: black;
    animation: animMark 1s ease-in-out infinite;
}

@keyframes animText {
    0%{
        font-weight: 200;
    }
    50%{
        font-weight: 900;
    }
    100%{
        font-weight: 200;
    }
}

@keyframes animMark{
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(30deg);
    }
}

/*------------------------------------------------------*/
/*--------------------A  P R O P O S--------------------*/
/*------------------------------------------------------*/

.box-propos {
    display: flex;
    margin: auto;
    height: 50%;
    flex-direction: row;
}

.box-presentation{
    display: block;
    width: 50%;
    background-color: white;
}

.box-info{
    display: block;
    width: 50%;
    margin-left: 2vw;
    background-color: white;
    
}

.section-header-title {
    padding-left: 20vw;
    margin: 0;
}

.section-header-canvas {
    margin: 0;
    width: 2vw;
    height: 0.3vh;
    background-color: #FFC857;
}

/* Schéma parcours */
.section-schema-canvas {
    margin: 0;
    width: 0.2vw;
    height: 30vh;
    background-color: #FFC857;
}

#propos h2{
    font-size: 2em; 
    overflow: hidden;
}

#propos h3{
    margin-top: 0;
    font-size: 1.2em;
    font-weight: 400;
    overflow: hidden;
}

/*-----------------------------------------------------*/
/*--------------------P A R C O U R S------------------*/
/*-----------------------------------------------------*/

#parcours img{
    margin-top: 2vh;
    margin-left: 2vh;
    width: 80%;
    padding-bottom: 20%;
}

.graph-parcours{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bobox-experience{
    margin-top: 5%;
    background-color: #ff7948;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bobox-experience-2{
    margin-top: 5%;
    background-color: #ff7948;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.experience-text{
    margin: 2%;
    
}

.canvas-parcours{
    margin: 0;
    width: 0.3vw;
    height: 17vh;
    background-color: #FFC857;
    margin-left: 2vh;
    margin-bottom: 2vh;
}

/*-----------------------------------------------------*/
/*--------------------P R O J E T ---------------------*/
/*-----------------------------------------------------*/

#projet img{
    justify-content: center;
}

.box-projet{
    display: flex;
    margin: auto;
    /*padding: 5%;*/
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2%;
    /*max-height: 60vh;*/
    
}

.projet-1{
    background-color: #ff7948;
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    max-width: 25vh;
}

.projet-2{
    background-color: #ff7948;
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    text-align: center;
    max-width: 25vh;
    

}

.button1{
    background-color: #FFC857;
    text-decoration: none;
    border-radius: 25px;
    border-style: none;
    height: 7%;
    width: 20vh;
    color: white;
    font-weight: 600;
}

.button1:hover{
    background-color: #e9b54d;
}


/*-----------------------------------------------------*/
/*--------------------C O N T A C T--------------------*/
/*-----------------------------------------------------*/

.last {
    margin-bottom: 5vh;
}